{
    "presets": [
        "@babel/preset-env",
        "@babel/typescript"
    ],
    "ignore": [
        "./src/lib",
        "./src/system/looper.ts",
    ],
    "plugins": [
        "@babel/plugin-transform-class-properties"
    ]
}
